{% extends 'index.html' %}
{% block title %} Text Input {% endblock %}
{% block body %}
<body>
    <form id="textinput" class="textform main-content" method="POST" enctype="multipart/form-data">    
        {% csrf_token %}
        <h1>Text Upload Form</h1>
        <br>
        <h4>Please paste the desired text into the area below.</h4>
        <textarea name="document" rows="25" cols="100"></textarea>
        <div><button class="btn btn-primary">Submit</button></div>
    </form>
</body>
{% endblock %}