{% extends 'index.html' %}
{% block title %} Processing Files {% endblock %}
{% block body %}
<style>
.reviewwrapper{    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 900px;
    grid-template-areas:
    "l-panel r-panel-header";
}
.l-panel{
    grid-area: l-panel;
}
.r-panel{
    grid-area: r-panel;
    height: 800px;
    overflow-y: scroll;
    padding: 1em;
    border-style: inset;
    background-color: rgb(245, 245, 245);
}    
</style>
<div class="reviewwrapper">
    <div class="l-panel">
        <div class="text-center">
            <h4>Proccessing Confirmation</h4>
        </div>
        <br>
        <form method='post' action="{% url 'update_review' RevDoc.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="resultstable">                
                <tr>
                    <td>
                        <h6>Please validate all findings for {{ RevDoc.filename }}.</h6>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h6>Software Name: 
                            {% if SoftwareField %}
                            <input name="Softwarename" type="text" list="softwarelist" value="{{RevDoc.softwarename}}">
                            <datalist id="softwarelist">
                            {% for item in SoftwareField %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                            </datalist>
                            {% else %}
                            <input name="Softwarename" type="text" value="{{RevDoc.softwarename}}">
                            {% endif %}
                            </h6>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h6>Publisher Name: 
                            {% if PublisherField %}
                            <input name="Publishername" type="text" list="publisherlist" value="{{RevDoc.publishername}}">
                            <datalist id="publisherlist">
                            {% for item in PublisherField %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                            </datalist>
                            {% else %}
                            <input name="Publishername" type="text" value="{{RevDoc.publishername}}">
                            {% endif %}
                        </h6>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h6>Information Page: 
                            {% if InfoField %}
                            <input name="Informationpage" type="text" id="informationpage" value="{{RevDoc.informationpage}}">
                            <datalist id="informationpage">
                            {% for item in InfoField %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                            </datalist>
                            {% else %}
                            <input name="Informationpage" type="text" value="{{RevDoc.informationpage}}">
                            {% endif %}
                        </h6>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h6>Restriction List:</h6>
                        {% if Restrictions %}
                        {% for item in Restrictions %}
                        <h6>{{ item.restriction }}</h6>
                        {% endfor %}
                        {% else %}
                        <h6>No restrictions have been flagged. Please review the license agreement.</h6>
                        {% endif %}
                    </td> 
                </tr>
            </table>
            <div class="text-center">
                <div>
                    <form class="d-inline" method="post" action="{% url 'prevdoc' RevDoc.pk %}">{% csrf_token %}<button class="btn btn-secondary" type="submit">Prev</button></form>
                    <form class="d-inline" method="post" action="{% url 'delreview' RevDoc.pk %}">{% csrf_token %}<button class="btn btn-danger" type="submit">Delete</button></form>
                    <form class="d-inline" method="post" action="{% url 'nextdoc' RevDoc.pk %}">{% csrf_token %}<button class="btn btn-secondary" type="submit">Next</button></form>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Confirm</button>
                </div>
            </div>
        </form>
    </div>
    <div class="r-panel-header">
        <div class="text-center">
            <h4>EULA Document</h4>
        </div>
        <div class="r-panel">
            {{ Strongtext | safe }}
        </div>
    </div>
</div>
{% endblock %}