{% extends 'index.html' %}
{% block title %}Processed Software{% endblock %}
{% block body %}
<body>    
    <div class="main-select">
        <h1>Processed Software Listing</h1>
        <br>
        <div style="height: 550px; width: 75%; margin: auto;">
            {% if Softwares %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Software Name</th>
                        <th scope="col">Version</th>
                        <th scope="col">Publisher</th>
                        <th scope="col">Information URL</th>
                        <th scope="col">License Type</th>
                        <th scope="col">License Count</th>
                        <th scope="col">Restrictions</th>
                        <th scope="col">Last Checked</th>
                        <th scope="col">Checked By</th>
                        <!-- <th scope="col">Update</th> -->
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for software in Softwares %}
                    <tr>
                        <td>{{software.softwarename}}</td>
                        <td>{{software.version}}</td>
                        <td>{{software.publishername}}</td>
                        <td>{{software.informationurl}}</td>
                        <td>{{software.licensetype}}</td>
                        <td>{{software.licensecount}}</td>
                        <td>{{software.flaggedrestrictions}}</td>
                        <td>{{software.checkdate}}</td>
                        <td>{{software.checkby}}</td>
                        <!-- <td>
                            <form method="post" action="" >
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary" style="margin: 0;">Update</button>
                            </form>
                        </td> -->
                        <td>
                            <form method="post" action="{% url 'del_software' software.pk %}" >
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" style="margin: 0;">Delete</button>
                            </form>
                        </td>                        
                    </tr>
                    {% endfor %}  
                </tbody>
            </table>
            
            <form method="post" action="{% url 'export_file' %}" >
                {% csrf_token %}
                <button id="export-btn" class="btn btn-primary" onclick="Export_Disable_Button();">Export</button>
            </form>
            {% else %}
            <h4>No software has been processed.</h4>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}