{% extends 'index.html' %}
{% block title %}Processed Software{% endblock %}
{% block body %}
<style>
    #progress-bar{    
        display: none;
    }
    </style>
<body>    
    <div class="main-select">
        <h1>Processed Software Listing</h1>
        <br>
        <div style="height: 550px; width: 75%; margin: auto;">
            {% if Softwares %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Software Name</th>
                        <th scope="col">Publisher</th>
                        <th scope="col">Information URL</th>
                        <th scope="col">Restrictions</th>
                        <th scope="col">Last Checked</th>
                        <th scope="col">Checked By</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for software in Softwares %}
                    <tr>
                        <td>{{software.softwarename}}</td>
                        <td>{{software.publishername}}</td>
                        <td>{{software.informationurl}}</td>
                        <td>{{software.flaggedrestrictions}}</td>
                        <td>{{software.checkdate}}</td>
                        <td>{{software.checkby}}</td>
                        <td>
                            <form method="post" action="{% url 'change_soft' software.pk %}" >
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary" style="margin: 0;">Update</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{% url 'del_software' software.pk %}" >
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" style="margin: 0;">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="progress" style="background-color: transparent;">
                <div id="progress-bar" class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <form method="post" action="{% url 'export_file' %}" >
                {% csrf_token %}
                <button id="export-btn" type="submit" onclick="Show_Progress();window.location.href='{% url 'ProcessFiles' %}'" class="btn btn-primary">Export</button>
            </form>
            {% else %}
            <h4>No software has been processed.</h4>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}



<div class="progress" style="background-color: transparent;">
    <div id="progress-bar" class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div style="text-align: center;"><button id="submission-btn" class="btn btn-primary" '{% url 'ProcessFiles' %}';">Submit File(s)</button></div>
